/* directory: C:\cplusplusfiles\ebayclone\app\styles\Tabs.css */

h2 {
    color: #d73b3b;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; */
};